* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  background-color: #003ae2;
}

@font-face {
  font-family: "Visby CF regular";
  src: url(assets/Visby/VisbyCF-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Visby CF bold";
  src: url(assets/Visby/VisbyCF-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Visby CF demibold";
  src: url(assets/Visby/VisbyCF-DemiBold.otf) format(opentype);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Visby CF medium";
  src: url(assets/Visby/VisbyCF-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Visby CF heavy";
  src: url(assets/Visby/VisbyCF-Heavy.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}

#header {
  width: 100%;
  overflow: hidden; /* Evita margens extras */
  position: relative;
  /* background-color: #003ae2; */
  /* border: 2px solid red; */
}

#header-img {
  width: 100%;
  height: auto;
  display: block; /* Remove espaço extra abaixo da imagem */
  object-fit: contain;
}

.mb-top-header {
  position: absolute;
  /* border: 2px solid red; */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  /* display: flex;
  justify-content: space-between;
  border: 2px solid yellow;
  padding: 20px 40px; */
}

.navbar {
  height: 1rem;
}

.menu {
  height: 0;
  overflow: hidden;
  position: absolute;
  right: 0rem;
  top: 60px;
  width: 100%;
  background: rgba(0, 153, 255, 0.9);
  border-radius: 10px;
  transition: height 0.2s ease-in-out;
}

.menu.open {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
}

.menu li {
  padding: 3px;
  border-radius: 10px;
  /* margin: 3px; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  list-style: none;
  width: 100%;
}

.menu-item {
  text-decoration: none;
  color: white;
  font-family: "Visby CF regular";
  font-size: 1.5rem;
  font-weight: 900;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* border: 2px solid blueviolet; */
}

.menu-item:hover {
  color: #0099ff;
  background-color: white;
  border-radius: 10px;
}

.scieduc-logo .icon {
  width: 85px;
  height: 20px;
}

.toggle-menu svg {
  height: 20px;
  width: 20px;
  /* border: 2px solid yellow; */
}

.slogan {
  font-family: "Visby CF regular";
  font-weight: lighter;
  color: #ffff;
  text-align: center;
  font-size: 1.2rem;
  padding: 30px 0px;
  opacity: 0.9;
  /* border: 2px solid red; */
}

.hl-bold {
  font-family: "Visby CF bold";
}

.statistics-ilustration {
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: center;
  opacity: 0.8;
  /* border: 2px solid red; */
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 0)
  );
}

.stats {
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.hl-number {
  font-family: "Visby CF demibold";
  color: #ffff;
  font-size: 1rem;
}

.info {
  font-family: "Visby CF medium";
  font-size: 8px;
  color: #ffff;
  /* border: 2px solid white; */
}

.line {
  margin: 0px 10px;
  /* border: 2px solid white; */
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  margin: 35px 40px 0px 40px;
}

.meeting-img {
  width: 100%;
  object-fit: contain;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Visby CF demibold";
  color: #0099ff;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.hl-title {
  font-family: "Visby CF demibold";
  color: #0099ff;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-paragraph {
  font-family: "Visby CF regular";
  font-size: 14px;
  line-height: 1.45;
  color: #ffff;
  text-align: center;
  opacity: 0.8;
  padding: 10px 0px;
  /* padding: 5px 50px; */
  /* border: 2px solid red; */
}

.carousel-container {
  width: 100%;
  /* border: 2px solid red; */
  overflow: hidden;
}

.carousel-item {
  /* width: 100px; */
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px;
  /* padding: 0px 40px; */
  /* border: 2px solid red; */
  height: auto;
}

.description-box {
  width: 100%;
  padding: 0px 40px;
  /* border: 2px solid red; */
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 0)
  );
}

.carousel-logo {
  margin: 20px 0px;
  width: 80px;
  height: 80px;
  /* border: 2px solid yellow; */
}

.carousel-title {
  font-family: "Visby CF demibold";
  color: #ffff;
  font-size: 14px;
  text-align: center;
  /* white-space: nowrap; */
}

.carousel-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px; /* Espaço entre os elementos */
}

.arrow-svg {
  width: 8px; /* Ajuste o tamanho da seta */
  height: 8px;
  height: auto;
  cursor: pointer;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #002aa8;
  white-space: nowrap;
  padding: 30px 0px;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0.6)
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0.6)
  );
}

.marquee-content {
  display: flex;
  width: fit-content; /* Ajusta automaticamente o tamanho do conteúdo */
  animation: marquee 5s linear infinite;
}

.marquee-content img {
  height: 60px; /* Ajuste conforme necessário */
  margin-right: 40px;
  object-fit: contain;
  flex-shrink: 0;
}

.album-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

swiper-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease; /* Para transição suave */
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: 100%; /* Mantenha a largura padrão para os slides */
  position: relative;
  transition: transform 0.3s ease, z-index 0.3s ease;
}

.album-item {
  object-fit: contain;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

swiper-slide:not(.swiper-slide-active) {
  transform: scale(0.85); /* Reduz as imagens laterais */
  z-index: 0; /* Coloca as imagens laterais atrás */
}

swiper-slide.swiper-slide-active {
  transform: scale(1); /* Aumenta a imagem ativa */
  z-index: 2; /* Coloca a imagem ativa na frente */
}

swiper-slide:not(.swiper-slide-active) img {
  filter: brightness(50%);
  transition: filter 0.3s ease-in-out;
}

swiper-slide.swiper-slide-active img {
  filter: brightness(100%);
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  /* border: 2px solid red; */
}

.form-group {
  width: 85%;
  /* border: 2px solid red; */
}

#name,
#email,
#message {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: rgba(196, 196, 196, 0.1);
  color: #fff;
  opacity: 0.8;
  font-family: "Visby CF regular";
}

#name::placeholder,
#email::placeholder,
#message::placeholder {
  color: #fff;
  opacity: 0.5;
  font-family: "Visby CF regular";
}

#name:focus,
#email:focus,
#message:focus {
  outline: none; /* Remove o contorno padrão */
  box-shadow: none; /* Remove qualquer sombra */
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  margin: 30px;
  border: none;
  font-family: "Visby CF regular";
  color: white;
  background-color: #0099ff;
  opacity: 0.8;
  cursor: pointer;
}

.submit-btn::hover {
  opacity: 0.5;
}

footer {
  background-color: #002aa8;
  padding: 40px 20px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  /* border: 2px solid red; */
  width: 100px;
}

.footer-txt {
  font-family: "Visby CF regular";
  color: #fff;
  font-size: 8px;
  opacity: 0.5;
}

#footer-img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

/* Animação Suave */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .navbar {
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 360px) {
  .hl-number {
    font-size: 14px;
  }
  .stats {
    gap: 7px;
  }
  .info {
    font-size: 7px;
  }
  .carousel-header {
    gap: 20px;
  }
  .description-box {
    padding: 0px 10px;
  }
}

@media (max-width: 375px) {
  swiper-slide {
    width: 90%; /* Ajusta o tamanho para que fique mais "visível" */
  }

  .album-item {
    max-width: 100%;
    width: 100%; /* As imagens devem ocupar toda a largura disponível */
  }

  swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.7); /* Reduz ainda mais as imagens laterais */
  }
}
